---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const present = await getEntry("present", "index");
const page_data = {
  ...present.data,
  content: present.body,
};
const { Content } = await present.render();
---

<Base
  entry_keys={["present", "index"]}
>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
</Base>
